* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  height: 100vh;
  background-color: inherit;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  border: 10px solid rgba(150, 154, 151, 0.5);
}

section {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 32px;
  color: rgb(222, 229, 229);
}

.main-box p {
  color: rgb(238, 229, 233);
  margin-top: 15px;
  line-height: 120%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 33.3%;
    justify-content: center;
}

.box p {
    text-align: center;
    padding-top: 50%;
    font-size: 18px;
    color: rgb(19, 41, 61);
    text-shadow: 1px 1px 10px rgb(238, 229, 233);
}

.box img {
    width: auto;
    height: 50px;
}

.main-box {
    width: 66.7%;
    height: 33.4%;
    padding: 20px;
    background-color: rgb(46, 23, 96);
}

.box1 {
  height: 33.4%;
  background-image: url(assets/binary-code-black.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(238, 229, 233);
  transition: 0.25s;
}

.box1:hover {
  background-image: url(assets/red-binary-code.svg);
  transition: 0.25s;
}

.box2 {
  background-image: url(assets/005-doc.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(165, 70, 87);
  transition: 0.25s;
}

.box2:hover {
  background-image: url(assets/white-doc.svg);
  transition: 0.25s;
}

.box3 {
  background-image: url(assets/007-repair.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(150, 154, 151);
  transition: 0.25s;
}

.box3:hover {
  background-image: url(assets/white-repair.svg);
  transition: 0.25s;
}

.box4 {
  width: 33.4%;
  background-image: url(assets/idea-black.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(0, 166, 251);
  transition: 0.25s;
}

.box4:hover {
  background-image: url(assets/white-idea.svg);
  transition: 0.25s;
}

.box5 {
  height: 33.7%;
  background-image: url(assets/009-social-network.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(238, 229, 233);
  transition: 0.25s;
}

.box5:hover {
  background-image: url(assets/red-social-network.svg);
  transition: 0.25s;
}

.box6 {
  background-image: url(assets/001-remote-control.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(165, 70, 87);
  transition: 0.25s;
}

.box6:hover {
  background-image: url(assets/white-remote-control.svg);
  transition: 0.25s;
}

.box7 {
  width: 33.4%;
  background-image: url(assets/006-exe.svg);
  background-position: 50% 35%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: rgb(150, 154, 151);
  transition: 0.25s;
}

.box7:hover {
  background-image: url(assets/white-exe.svg);
  transition: 0.25s;
}

.main-button-box {
  display: flex;
  justify-content: space-around;
}

.main-button-box button {
  transition: 0.25s;
}

.main-button-box button:hover {
  transition: 0.25s;
  background-color: rgb(141, 128, 168);
}

.id-card-button {
    margin-top: 20px;
    border: 3px solid rgb(222, 229, 229);

}

span {
    margin-left: 5px;
    color: rgb(238, 229, 233);
}

button {
    background-color: inherit;
}

button:focus {
  outline: 0;
}

button img {
    height: 25px;
    padding: 5px;
}

/* aside */

.image-container {
  background-image: url(assets/Robot-Man-with-Head-Flying-Off.jpg);
  height: 100%;
  width: 33vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  width: 90%;
  display: flex;
  justify-content: space-between;

}

.button-container button {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(196, 213, 220);
  opacity: 0.4;
  transition: 0.25s;
  font-size: 20px;
}

.button-container button:hover {
  opacity: 0.9;
  transition: 0.25s;
}

@media screen and (max-width: 800px) {

  main {
    display: flex;
    height: 100vh;
    background-color: inherit;
    flex-wrap: wrap;
    border: none;
  }

  aside {
    order: -1;
  }

  .image-container {
    background-image: url(assets/robots-dancing-unedited.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 300px;
  }

  .main-box {
    width: 100%;
    height: 30%;
  }

  .main-box p {
    font-size: 24px;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 25%;
    justify-content: center;
  }

  .box7 {
    width: 100%;
    padding-bottom: 15%;
    background-size: 15%;
  }

  button img {
    height: 35px;
  }

  span {
    font-size: 20px;
  }
}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 36px;
  }
  .main-box p {
    line-height: 150%;
    font-size: 20px;
  }

  button img {
    height: 35px;
  }

  span {
    font-size: 20px;
  }

  .box img {
    height: 70px;
  }

  .box p {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .main-box p {
    font-size: 16px;
  }

  button img {
    height: 25px;
  }

  span {
    font-size: 16px;
  }
}
